body {
	margin: 1em;

	display: grid;
    align-items: center;
    justify-items: center;

	color: #fff;
	background: #333333;
	font-family: monospace;

	> main {
		max-width: 1e3px;
	}
}