body {
    > div.authorize > dialog.token {
        padding: 1.5em;

        border: none;
        border-radius: 2em;

        outline: none;

        text-align: center;

        background-color: #1c1c1c;
        color: white;

        &::backdrop {
            background-color: transparent;
        }

        > form {
            margin: 0;

            display: flex;
            flex-direction: column;

            gap: 1.25em;

            > div.title {
                font-size: 1.5em;
                font-weight: 600;
            }

            > div.error:not(:empty) {
                padding: .5em;

                font-weight: 600;

                background: #e45d4d;
            }
            input {
                padding: .5em 1em;

                border: none;

                &[type=text], &[type=password] {
                    color: inherit;
                    background-color: transparent;
                }

                &[type=submit] {
                    border-radius: 1em;

                    color: black;
                    background-color: white;

                    &:disabled {
                        background-color: #d6d6d6;
                    }
                }
            }
        }
    }
}